<h3>Post form</h3>

<!-- <form action="<%= posts_path %>" method="POST">   -->
     <%= form_tag posts_path do %>
<!-- Rails helper is smart enough to know that we want to submit the form via the POST method
     auto renders the HTML from above and generates:
     <form action="/posts" accept-charset="UTF-8" method="post">
     <input name="utf8" type="hidden" value="&#x2713;" />
     <input type="hidden" name="authenticity_token" value=
     "zkOjrjTG8Lxn0CF8Lt/kFIgWdYyY3NTMbwh+Q9kPX1NrYztgq0GZNCjLFavBXka1Y5QhNjDlhX+dzQoZMzUjOA==" />
-->
       <label>Post title: </label><br>
<!--   <input type="text" id="post_title" name="post[title]"><br>    -->
       <%= text_field_tag :'post[title]' %><br>

       <label>Post description: </label><br>
<!--   <textarea type="text" id="post_description" name="post[description]"></textarea><br>    -->
       <%= text_area_tag :'post[description]' %><br>

<!--   form_tag auto generates the necessary authenticity token, so hidden_field_tag can be removed
       <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>    -->

<!--   <input type="submit" value="Submit Post">    -->
       <%= submit_tag "Submit Post" %>
<!--   <input type="submit" name="commit" value="Submit Post">    -->
     <% end %>

<!-- not necessary, just to see -->
<%= params.inspect %>
