<h3>Post Form</h3>

<!-- FORM WITH FORM HELPERS -->
<%= form_tag posts_path do %>
  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %><br>

  <label>Post description:</label><br>
  <%= text_area_tag :'post[description]' %><br>

  <input type="submit" value="Submit Post">
<% end %>



<!--  OLD WAY OF MAKING FORMS WITHOUT FORM HELPERS:
<form action="<%= posts_path %>" method="POST"> -this redirects the from to /posts route
  <label>Post title:</label><br>
  <input type="text" id="post_title" name="post[title]">
  <br>

  <label>Post description:</label><br>
  <textarea id="post_description" name="post[description]"></textarea><br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> \ form authenticity helper

  <input type="submit" value="Submit Post">
</form>
-->
