
<h1>Post Form</h1>
<br></br>
<%= form_tag posts_path do %>

<label>Title:</label>
<%= text_field_tag :title %>
<br></br>
<label>Description:</label>
<%= text_area_tag :description %>
<br></br>

<%= submit_tag "Submit Post" %>


<%end%>

<%=params.inspect%>